@keyframes appear {
    from {opacity:0;margin-top:50px;}
    to {opacity: 1;margin-top:0px;}
 }
 
 .appear {
    animation-name: appear;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
 } 
 
 @keyframes gotop {
    0% {opacity:0.4;transform:scaleX(0.6) scaleY(0.6);}
    70% {opacity: 1;transform:scaleX(1.2) scaleY(1.2);}
    100% {opacity: 1;transform:scaleX(1) scaleY(1);}
 }
 
 .gotop {
    animation-name: gotop;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
 } 
 
  @keyframes slidedown {
    0% {top:0%}
    100% {top:110%;}
 }
 
  .slidedown {
    animation-name: slidedown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    background:#225 !important;
 } 
 
 @keyframes solid {
    0% {background:black;}
    100% {background:#225;}
 }
 
  .solid {
    animation-name: solid;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
 } 
 
 .blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}